*, *:after, *:before{
  margin: 0;
  padding: 0;
}
.box{
  border: 2px solid #B7B7B7;
  overflow: auto;
}
.caja{
  width: 200px;
  height: 200px;
  float: right;
}
.yellow{
  background:#FFFF00;
}
.red{
  background: #DC0000;
}
.blue{
  background:#0000BA;
}
